<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Football players in the world</title>
<link rel="stylesheet" href="/Football/CSS football/styles.css"/>

<header>
    <div class="topnav" >
        <a class="active" href="#home">Home</a>
        <a href="/Football/Football players.html">Players</a>
        <a href="/Football/Football stadium.html">Stadiums</a>
        <a href="/Football/Football accessaries.html">Asseccories</a>
        </div>
        <a href="/Football/Football players.html"><img src="/Football/Imgs of football/download (1).jfif" alt="Best Footballers" width="70vw"  height="80vw" style="border-radius: 50%;"> </a>

    <h1>Football Players</h1>
    <p>Football is a family of team sports that involve, to varying degrees, kicking a ball to score a goal. Unqualified, the word football normally means the form of football that is the most popular where the word is used. Sports commonly called football include association football (known as soccer in Australia, Canada, South Africa, and the United States; in Ireland and New Zealand, the game is referred to as either 'football' or 'soccer', depending on the person using the term)</p>
</header>